<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Page</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="startScreenBlock">
            <div class="startScreen">
                <header class="headerBlock">
                    <div class="headerLogotipe">
                        <img src="./img/logo.png" alt="logotipe" class="headerLogoImg">
                        <div class="headerLogoTitle">Travel Portal</div>
                    </div>
                    <nav class="headerNav">
                        <ul class="headerNavUl">
                            <li class="navLi"><a href="#" class="navLi-a">How It Works</a></li>
                            <li class="navLi"><a href="#" class="navLi-a">Plan Your Trip</a></li>
                            <li class="navLi"><a href="#" class="navLi-a">Destinations</a></li>
                            <li class="navLi"><a href="#" class="navLi-a">Travel Stories</a></li>
                        </ul>
                    </nav>
                    <div class="headerSignIn">
                        <button class="signInButton">
                            <a href="#" class="signInlink">Login</a>
                        </button>
                    </div>
                </header>
                <main class="mainStartScreen">
                    <strong class="planYourTrip">Explore the beauty of the World</strong>
                    <div class="planYourTripSubTitle">Receive personalized recommendations for countries, hotels,
                        activities and more
                    </div>
                    <div class="mainInputBlock">
                        <input type="text" placeholder="What would you like to do?" class="mainInput">
                        <button class="inputBtn"><a href="#" class="inputLink">Start Planning</a></button>
                    </div>
                </main>
            </div>
        </div>

        <div class="travelPageBlock">
            <div class="tripBlock">
                <strong class="tripTitle">3 STEPS TO THE PERFECT TRIP</strong>
                <div class="tripItemBlock">
                    <div class="itemBlock">
                        <img src="./img/tripPack/Frame 11.png" alt="itemImg" class="itemImg" />
                        <div class="itemSubTitle">Tell us what you want to do</div>
                    </div>
                    <div class="itemBlock">
                        <img src="./img/tripPack/Frame 12.png" alt="itemImg" class="itemImg" />
                        <div class="itemSubTitle">Share us preferable dates</div>
                    </div>
                    <div class="itemBlock">
                        <img src="./img/tripPack/Frame 28.png" alt="itemImg" class="itemImg" />
                        <div class="itemSubTitle">We will give you recommendations</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sliderBlock">
            <strong class="slederTitle">POPULAR DESTINATIONS</strong>
            <div class="sliderScrollBlock">
                <!-- <button class="sliderBtn sliderLeft">&lt;</button> -->
                <img src="./img/sliderSlides/spain.png" alt="spain" class="sliderImg">
                <img src="./img/sliderSlides/yapan.png" alt="yapan" class="sliderImg">
                <img src="./img/sliderSlides/usa.png" alt="usa" class="sliderImg">
                <!-- <button class="sliderBtn sliderRight">&gt;</button> -->
                <!-- <img src="./img/sliderSlides/spain.png" alt="spain" class="sliderImg">
                            <img src="./img/sliderSlides/yapan.png" alt="yapan" class="sliderImg">
                            <img src="./img/sliderSlides/usa.png" alt="usa" class="sliderImg"> -->
            </div>
            <div class="sliderStepBlock">
                <button class="stepBtn">&#10230; Find More</button>
            </div>
        </div>
        <strong class="slederTitle">TRAVEL STORIES</strong>
        <div class="travelPage"></div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>